In [1]:
import pandas as pd
import matplotlib as mp

In [3]:
df = pd.read_csv("jrc-covid-19-regions-hxl.csv")

C:\Users\harme\AppData\Local\Temp\ipykernel_19044\4054071934.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("jrc-covid-19-regions-hxl.csv")

In [4]:
df

,Date,iso3,CountryName,Region,lat,lon,CumulativePositive,CumulativeDeceased,CumulativeRecovered,CurrentlyPositive,Hospitalized,IntensiveCare,EUcountry,EUCPMcountry,NUTS
0,#date,#country+code+iso3,#country+name,#adm1+name,#geo+lat,#geo+lon,#affected+positive+total,#affected+dead+total,#affected+recovered+total,#affected+positive,#affected+hospitalized,#affected+intensive_care,#indicator+eu,#indicator+eucpm,NaN
1,2020-01-22,GRC,Greece,NOT SPECIFIED,NaN,NaN,0,0,0,0,NaN,NaN,TRUE,TRUE,NaN
2,2020-01-22,ISL,Iceland,NOT SPECIFIED,NaN,NaN,0,0,0,0,NaN,NaN,FALSE,TRUE,NaN
3,2020-01-22,LIE,Liechtenstein,Liechtenstein,47.164696,9.555,0,0,0,0,NaN,NaN,FALSE,FALSE,LI
4,2020-01-22,MCO,Monaco,Monaco,43.738348,7.424451,0,0,0,0,NaN,NaN,FALSE,FALSE,MC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134616,2021-01-31,GBR,United Kingdom,Shetland,60.29623,-1.346738,210.0,NaN,0.0,210.0,NaN,NaN,False,True,UKM66
134617,2021-01-31,GBR,United Kingdom,South East,51.291417,-0.521902,480452.0,NaN,0.0,480452.0,NaN,NaN,False,True,UKJ
134618,2021-01-31,GBR,United Kingdom,South West,51.239761,-2.54375,190775.0,NaN,0.0,190775.0,NaN,NaN,False,True,UKK
134619,2021-01-31,GBR,United Kingdom,Tayside,56.610323,-3.555213,12048.0,NaN,0.0,12048.0,NaN,NaN,False,True,UKM71
134620,2021-01-31,GBR,United Kingdom,Wales,52.302413,-3.738347,192282.0,4754.0,0.0,187528.0,NaN,NaN,False,True,UKL