In [13]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [14]:
df = pd.read_csv("jrc-covid-19-regions-hxl.csv")

C:\Users\harme\AppData\Local\Temp\ipykernel_27288\4054071934.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("jrc-covid-19-regions-hxl.csv")

In [15]:
df

,Date,iso3,CountryName,Region,lat,lon,CumulativePositive,CumulativeDeceased,CumulativeRecovered,CurrentlyPositive,Hospitalized,IntensiveCare,EUcountry,EUCPMcountry,NUTS
0,#date,#country+code+iso3,#country+name,#adm1+name,#geo+lat,#geo+lon,#affected+positive+total,#affected+dead+total,#affected+recovered+total,#affected+positive,#affected+hospitalized,#affected+intensive_care,#indicator+eu,#indicator+eucpm,NaN
1,2020-01-22,GRC,Greece,NOT SPECIFIED,NaN,NaN,0,0,0,0,NaN,NaN,TRUE,TRUE,NaN
2,2020-01-22,ISL,Iceland,NOT SPECIFIED,NaN,NaN,0,0,0,0,NaN,NaN,FALSE,TRUE,NaN
3,2020-01-22,LIE,Liechtenstein,Liechtenstein,47.164696,9.555,0,0,0,0,NaN,NaN,FALSE,FALSE,LI
4,2020-01-22,MCO,Monaco,Monaco,43.738348,7.424451,0,0,0,0,NaN,NaN,FALSE,FALSE,MC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134616,2021-01-31,GBR,United Kingdom,Shetland,60.29623,-1.346738,210.0,NaN,0.0,210.0,NaN,NaN,False,True,UKM66
134617,2021-01-31,GBR,United Kingdom,South East,51.291417,-0.521902,480452.0,NaN,0.0,480452.0,NaN,NaN,False,True,UKJ
134618,2021-01-31,GBR,United Kingdom,South West,51.239761,-2.54375,190775.0,NaN,0.0,190775.0,NaN,NaN,False,True,UKK
134619,2021-01-31,GBR,United Kingdom,Tayside,56.610323,-3.555213,12048.0,NaN,0.0,12048.0,NaN,NaN,False,True,UKM71
134620,2021-01-31,GBR,United Kingdom,Wales,52.302413,-3.738347,192282.0,4754.0,0.0,187528.0,NaN,NaN,False,True,UKL

In [16]:
df.dtypes

Date                   object
iso3                   object
CountryName            object
Region                 object
lat                    object
lon                    object
CumulativePositive     object
CumulativeDeceased     object
CumulativeRecovered    object
CurrentlyPositive      object
Hospitalized           object
IntensiveCare          object
EUcountry              object
EUCPMcountry           object
NUTS                   object
dtype: object

In [18]:
dtype = {
    'Date' : object,
    'iso3' : object,
    'CountryName' : object,
    'Region' : object,
    'lat' : float,
    'lon' : float,
    'CumulativePositive' : float,
    'CumulativeDeceased' : float,
    'CumulativeRecovered' : float,
    'CurrentlyPositive' : float,
    'Hospitalized' : float,
    'IntensiveCare' : float,
    'EUcountry' : bool,
    'EUCPMcountry' : bool,
    'NUTS' : object,
}

In [19]:
df = pd.read_csv("jrc-covid-19-regions-hxl.csv", dtype = dtype, skiprows= range(1,2))

In [20]:
df

,Date,iso3,CountryName,Region,lat,lon,CumulativePositive,CumulativeDeceased,CumulativeRecovered,CurrentlyPositive,Hospitalized,IntensiveCare,EUcountry,EUCPMcountry,NUTS
0,2020-01-22,GRC,Greece,NOT SPECIFIED,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,True,True,NaN
1,2020-01-22,ISL,Iceland,NOT SPECIFIED,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,False,True,NaN
2,2020-01-22,LIE,Liechtenstein,Liechtenstein,47.164696,9.555000,0.0,0.0,0.0,0.0,NaN,NaN,False,False,LI
3,2020-01-22,MCO,Monaco,Monaco,43.738348,7.424451,0.0,0.0,0.0,0.0,NaN,NaN,False,False,MC
4,2020-01-22,MKD,North Macedonia,North Macedonia,41.611000,21.751417,0.0,0.0,0.0,0.0,NaN,NaN,False,True,MK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134615,2021-01-31,GBR,United Kingdom,Shetland,60.296230,-1.346738,210.0,NaN,0.0,210.0,NaN,NaN,False,True,UKM66
134616,2021-01-31,GBR,United Kingdom,South East,51.291417,-0.521902,480452.0,NaN,0.0,480452.0,NaN,NaN,False,True,UKJ
134617,2021-01-31,GBR,United Kingdom,South West,51.239761,-2.543750,190775.0,NaN,0.0,190775.0,NaN,NaN,False,True,UKK
134618,2021-01-31,GBR,United Kingdom,Tayside,56.610323,-3.555213,12048.0,NaN,0.0,12048.0,NaN,NaN,False,True,UKM71
134619,2021-01-31,GBR,United Kingdom,Wales,52.302413,-3.738347,192282.0,4754.0,0.0,187528.0,NaN,NaN,False,True,UKL

In [21]:
df.shape

(134620, 15)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134620 entries, 0 to 134619
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 134620 non-null  object
 1   iso3                 134620 non-null  object
 2   CountryName          134620 non-null  object
 3   Region               134620 non-null  object
 4   lat                  125839 non-null  float64
 5   lon                  125839 non-null  float64
 6   CumulativePositive   133475 non-null  float64
 7   CumulativeDeceased   107230 non-null  float64
 8   CumulativeRecovered  90577 non-null   float64
 9   CurrentlyPositive    134338 non-null  float64
 10  Hospitalized         61078 non-null   float64
 11  IntensiveCare        58272 non-null   float64
 12  EUcountry            134620 non-null  bool
 13  EUCPMcountry         134620 non-null  bool
 14  NUTS                 127495 non-null  object
dtypes: bool(2), float64(8), object(5)
memory usage: 13.6+ MB

In [23]:
df.Date.max(),df.Date.min()

('2021-01-31', '2020-01-22')